.wrapper {
  position: relative;
  display: inline-block;
}

.menu {
  position: absolute;
  background-color: var(--color-background);
  box-shadow: var(--shadow-medium);
  border-radius: var(--spacing-xxs);
  padding: var(--spacing-xs);
  z-index: 1000;
  min-width: 150px;
}

.bottom-left {
  top: 100%;
  left: 0;
  margin-top: var(--spacing-xxs);
}

.bottom-right {
  top: 100%;
  right: 0;
  margin-top: var(--spacing-xxs);
}
