.loader {
  border: 4px solid var(--color-primary);
  border-top: 4px solid transparent;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  animation: spin 1s linear infinite;
}

.small {
  width: 16px;
  height: 16px;
  border-width: 2px;
}

.medium {
  /* default */
}

.large {
  width: 48px;
  height: 48px;
  border-width: 6px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
