.badge {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.badgeContent {
  position: absolute;
  top: -5px;
  right: -5px;
  min-width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: var(--color-primary);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-xs);
  padding: 0 var(--spacing-xxs);
}

.dot {
  min-width: 8px;
  height: 8px;
  padding: 0;
}

.primary {
  background: var(--color-primary-gradient);
}

.secondary {
  background: var(--color-secondary-gradient);
}

.success {
  background: var(--color-success-gradient);
}

.error {
  background: var(--color-error-gradient);
}
