.button {
  font-family: var(--font-family);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-medium);
  border-radius: var(--spacing-xxs);
  border: none;
  padding: var(--spacing-xs) var(--spacing-m);
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: var(--shadow-small);
}

.primary {
  background: var(--color-primary-gradient);
  color: white;
}

.primary:hover {
  filter: brightness(1.1);
  box-shadow: var(--shadow-medium);
}

.secondary {
  background-color: transparent;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}

.secondary:hover {
  background: var(--color-secondary-gradient);
  color: white;
}

.text {
  background-color: transparent;
  color: var(--color-primary);
  box-shadow: none;
}

.text:hover {
  text-decoration: underline;
}

.small {
  font-size: var(--font-size-s);
  padding: var(--spacing-xxs) var(--spacing-s);
}

.medium {
  /* default */
}

.large {
  font-size: var(--font-size-l);
  padding: var(--spacing-s) var(--spacing-l);
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  box-shadow: none;
}
