.accordion {
  width: 100%;
  border-radius: var(--spacing-xxs);
  overflow: hidden;
}

.item {
  border-bottom: 1px solid white;
}

.item:last-child {
  border-bottom: none;
}

.title {
  width: 100%;
  text-align: left;
  padding: var(--spacing-m);
  background: var(--color-primary-gradient);
  color: white;
  border: none;
  cursor: pointer;
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-medium);
}

.content {
  padding: var(--spacing-m);
  background-color: var(--color-background);
}
